.gv-btn {
  background-color: transparent;
  border-radius: 0.4em;
  padding: 0.6em 4rem;
  cursor: pointer;
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #1a1a1a;
}
.gv-btn:hover {
  background-color: #1a1a1a;
  color: #fff;
}

/*Regular give.css */
.gv-main-face {
  font-family: "open-sans", sans-serif;
}
.gv-heading-face {
  font-family: "Open Sans", sans-serif;
}
.gv-bold {
  font-weight: 700;
}
.gv-bolder {
  font-weight: bolder;
}
.gv-normal {
  font-weight: normal;
}
.gv-italic {
  font-style: italic;
}
.gv-underline {
  text-decoration: underline;
}
.gv-uppercase {
  text-transform: uppercase;
}
.gv-lowercase {
  text-transform: lowercase;
}
.gv-capitalize {
  text-transform: capitalize;
}
.gv-align-left {
  text-align: right;
}
.gv-align-right {
  text-align: left;
}
.gv-align-center {
  text-align: center;
}
.gv-margin {
  margin: 1.5rem;
}
.gv-margin-lg {
  margin: 4rem;
}
.gv-margin-md {
  margin: 3rem;
}
.gv-margin-sm {
  margin: 1rem;
}
.gv-margin-auto {
  margin: auto;
}
.gv-margin-auto-right {
  margin-right: auto;
}
.gv-margin-auto-left {
  margin-left: auto;
}
.gv-margin-auto-tb {
  margin-top: auto;
  margin-bottom: auto;
}
.gv-margin-auto-rl {
  margin-right: auto;
  margin-left: auto;
}
.gv-margin-tb {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.gv-margin-tb-lg {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.gv-margin-tb-md {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.gv-margin-tb-sm {
  margin-top: 1rem;
  margin-top: 1rem;
}
.gv-margin-rl {
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}
.gv-margin-rl-lg {
  margin-right: 4rem;
  margin-left: 4rem;
}
.gv-margin-rl-md {
  margin-right: 3rem;
  margin-left: 3rem;
}
.gv-margin-rl-sm {
  margin-right: 1rem;
  margin-left: 1rem;
}
.gv-margin-top {
  margin-top: 1.5rem;
}
.gv-margin-top-lg {
  margin-top: 4rem;
}
.gv-margin-top-md {
  margin-top: 3rem;
}
.gv-margin-top-sm {
  margin-top: 1rem;
}
.gv-margin-right {
  margin-left: 1.5rem;
}
.gv-margin-right-lg {
  margin-left: 4rem;
}
.gv-margin-right-md {
  margin-left: 3rem;
}
.gv-margin-right-sm {
  margin-left: 1rem;
}
.gv-margin-bottom {
  margin-bottom: 1.5rem;
}
.gv-margin-bottom-lg {
  margin-bottom: 4rem;
}
.gv-margin-bottom-md {
  margin-bottom: 3rem;
}
.gv-margin-bottom-sm {
  margin-bottom: 1rem;
}
.gv-margin-left {
  margin-right: 1.5rem;
}
.gv-margin-left-lg {
  margin-right: 4rem;
}
.gv-margin-left-md {
  margin-right: 3rem;
}
.gv-margin-left-sm {
  margin-right: 1rem;
}
.gv-padding {
  padding: 1.5rem;
}
.gv-padding-lg {
  padding: 4rem;
}
.gv-padding-md {
  padding: 3rem;
}
.gv-padding-sm {
  padding: 1rem;
}
.gv-padding-tb {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.gv-padding-tb-lg {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.gv-padding-tb-md {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.gv-padding-tb-sm {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.gv-padding-rl {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
.gv-padding-rl-lg {
  padding-right: 4rem;
  padding-left: 4rem;
}
.gv-padding-rl-md {
  padding-right: 3rem;
  padding-left: 3rem;
}
.gv-padding-rl-sm {
  padding-right: 1rem;
  padding-left: 1rem;
}
.gv-padding-top {
  padding-top: 1.5rem;
}
.gv-padding-top-lg {
  padding-top: 4rem;
}
.gv-padding-top-md {
  padding-top: 3rem;
}
.gv-padding-top-sm {
  padding-top: 1rem;
}
.gv-padding-right {
  padding-left: 1.5rem;
}
.gv-padding-right-lg {
  padding-left: 4rem;
}
.gv-padding-right-md {
  padding-left: 3rem;
}
.gv-padding-right-sm {
  padding-left: 1rem;
}
.gv-padding-bottom {
  padding-bottom: 1.5rem;
}
.gv-padding-bottom-lg {
  padding-bottom: 4rem;
}
.gv-padding-bottom-md {
  padding-bottom: 3rem;
}
.gv-padding-bottom-sm {
  padding-bottom: 1rem;
}
.gv-padding-left {
  padding-right: 1.5rem;
}
.gv-padding-left-lg {
  padding-right: 4rem;
}
.gv-padding-left-md {
  padding-right: 3rem;
}
.gv-padding-left-sm {
  padding-right: 1rem;
}
.gv-border {
  border: 0.2rem solid #ddd;
}
.gv-border-lg {
  border: 0.4rem solid #ddd;
}
.gv-border-md {
  border: 0.3rem solid #ddd;
}
.gv-border-sm {
  border: 0.1rem solid #ddd;
}
.gv-border-top {
  border-top: 0.2rem solid #ddd;
}
.gv-border-top-lg {
  border-top: 0.4rem solid #ddd;
}
.gv-border-top-md {
  border-top: 0.3rem solid #ddd;
}
.gv-border-top-sm {
  border-top: 0.1rem solid #ddd;
}
.gv-border-right {
  border-right: 0.2rem solid #ddd;
}
.gv-border-right-lg {
  border-right: 0.4rem solid #ddd;
}
.gv-border-right-md {
  border-right: 0.3rem solid #ddd;
}
.gv-border-right-sm {
  border-right: 0.1rem solid #ddd;
}
.gv-border-bottom {
  border-bottom: 0.2rem solid #ddd;
}
.gv-border-bottom-lg {
  border-bottom: 0.4rem solid #ddd;
}
.gv-border-bottom-md {
  border-bottom: 0.3rem solid #ddd;
}
.gv-border-bottom-sm {
  border-bottom: 0.1rem solid #ddd;
}
.gv-border-left {
  border-bottom: 0.2rem solid #ddd;
}
.gv-border-left-lg {
  border-left: 0.4rem solid #ddd;
}
.gv-border-left-md {
  border-left: 0.3rem solid #ddd;
}
.gv-border-left-sm {
  border-left: 0.1rem solid #ddd;
}
.gv-radius {
  border-radius: 0.5rem;
}
.gv-radius-lg {
  border-radius: 2rem;
}
.gv-radius-md {
  border-radius: 1rem;
}
.gv-radius-sm {
  border-radius: 0.2rem;
}
.gv-circle {
  border-radius: 50%;
}
.gv-float-left {
  float: right;
}
.gv-float-right {
  float: left;
}
.gv-clear {
  clear: both;
}
.gv-color-main {
  color: #1a1a1a;
}
.gv-color-second {
  color: #97783c;
}
.gv-color-third {
  color: #fff;
}
.gv-bg-main {
  background-color: #1a1a1a;
}
.gv-bg-second {
  background-color: #97783c;
}
.gv-bg-third {
  background-color: #fff;
}
.gv-bg-center {
  background-position: center center;
}
.gv-bg-center-top {
  background-position: center top;
}
.gv-bg-center-bottom {
  background-position: center bottom;
}
.gv-bg-left {
  background-position: left center;
}
.gv-bg-left-top {
  background-position: left top;
}
.gv-bg-left-bottom {
  background-position: left bottom;
}
.gv-bg-right {
  background-position: right center;
}
.gv-bg-right-top {
  background-position: right top;
}
.gv-bg-right-bottom {
  background-position: right bottom;
}
.gv-bg-thumb {
  background-size: cover;
  background-position: center center;
}
.gv-bg-no-repeat {
  background-repeat: no-repeat;
}
.gv-bg-contain {
  background-size: contain;
}
.gv-block {
  display: block;
}
.gv-inline {
  display: inline;
}
.gv-inline-block {
  display: inline-block;
}
.gv-list-item {
  display: list-item;
}
.gv-decimal {
  list-style: decimal;
}
.gv-rtl {
  direction: ltr;
}
.gv-ltr {
  direction: rtl;
}
.gv-no-padding {
  padding: 0;
}
.gv-no-padding-top {
  padding-top: 0;
}
.gv-no-padding-right {
  padding-right: 0;
}
.gv-no-padding-bottom {
  padding-bottom: 0;
}
.gv-no-padding-left {
  padding-left: 0;
}
.gv-no-padding-tb {
  padding-top: 0;
  padding-bottom: 0;
}
.gv-no-padding-rl {
  padding-right: 0;
  padding-left: 0;
}
.gv-no-bullet {
  list-style: none;
}
.gv-no-display {
  display: none;
}
.gv-no-margin {
  margin: 0;
}
.gv-no-margin-top {
  margin-top: 0;
}
.gv-no-margin-right {
  margin-right: 0;
}
.gv-no-margin-bottom {
  margin-bottom: 0;
}
.gv-no-margin-left {
  margin-left: 0;
}
.gv-no-margin-tb {
  margin-top: 0;
  margin-bottom: 0;
}
.gv-no-margin-rl {
  margin-right: 0;
  margin-left: 0;
}
.gv-no-float {
  float: none;
}
.gv-no-underline {
  text-decoration: none;
}
.gv-no-radius {
  border-radius: 0;
}
.gv-no-shadow {
  box-shadow: none;
}
.gv-no-btn {
  background-color: transparent;
  border-radius: 0;
  padding: 0;
}
.gv-no-btn:hover {
  background-color: transparent;
  color: initial;
  top: 0;
}
.gv-transition {
  -webkit-transition: all 450ms;
  transition: all 450ms;
}
.gv-relative {
  position: relative;
}
.gv-absolute {
  position: absolute;
}
.gv-fixed {
  position: fixed;
}
.gv-position-default {
  top: 0;
  right: 0;
}
.gv-ovflow-visible {
  overflow: visible;
}
.gv-ovflow-hidden {
  overflow: hidden;
}
.gv-ovflow-auto {
  overflow: auto;
}
.gv-ovflow-scroll {
  overflow: scroll;
}
.gv-shadow-box {
  box-shadow: 0px 2px 2px #ddd;
}
.gv-shadow-text {
  text-shadow: 0px 2px 2px #ddd;
}
.gv-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.gv-flex-grow {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.gv-flex-row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.gv-flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.gv-flex-column-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
.gv-flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.gv-flex-wrap-reverse {
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}
.gv-flex-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.gv-flex-center-h {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.gv-flex-center-v {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.gv-flex-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.gv-flex-end-h {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.gv-flex-end-v {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.gv-flex-stretch {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.gv-flex-stretch-content {
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}
.gv-flex-sp-between-h {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.gv-flex-sp-between-v {
  -ms-flex-line-pack: justify;
      align-content: space-between;
}
.gv-flex-sp-around-h {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.gv-flex-sp-around-v {
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}
